<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>desktop</string>
		<string>rc</string>
		<string>directory</string>
	</array>
	<key>firstLineMatch</key>
	<string>^\[*\]\n</string>
	<key>keyEquivalent</key>
	<string>^~I</string>
	<key>name</key>
	<string>Desktop Entry</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>end</key>
			<string>(\]\n)</string>
			<key>begin</key>
			<string>(^\[)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.character-class.regexp</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.negation.regexp</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#character-class</string>
				</dict>
				<dict>
					<key>match</key>
					<string>((\\.)|.)\-((\\.)|[^\]])</string>
					<key>captures</key>
					<dict>
						<key>4</key>
						<dict>
							<key>name</key>
							<string>constant.character.escape.backslash.regexp</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>constant.character.escape.backslash.regexp</string>
						</dict>
					</dict>
					<key>name</key>
					<string>constant.other.character-class.range.regexp</string>
				</dict>

				<dict>
					<key>include</key>
					<string>#doublequotedString</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#singlequotedString</string>
				</dict>
			</array>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.character-class.regexp</string>
				</dict>
			</dict>
			<key>name</key>
			<string>constant.other.character-class.set.desktopentry</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^([A-Za-z0-9- ]+)\b((\[[a-z]+(_[A-Z]+)?(\@[A-Za-z]+)?\])|(\[x-test\])|(\[\$e\]))?</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.desktopentry</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>constant.language.desktopentry</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.desktopentry</string>
	<key>uuid</key>
	<string>93FFF865-D718-42F4-A410-414118146CB2</string>
</dict>
</plist>
